.container {
  display: flex;
  flex-direction: column;
}

.questions {
  align-items: center;
}

.nav-button {
  margin: 10px;
  padding: 10px;
  width: 100px;
  background: pink;
  color: red;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.nav-button:focus {
  outline: none;
}

.answer-button {
  margin: 10px;
  padding: 10px;
  width: 200px;
  background: rgb(174, 212, 247);
  color: rgb(19, 146, 7);
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.answer-button:focus {
  outline: none;
}

.nav-button:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  text-align: center;
}

.container-template {
  text-align: center;
}
